---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Header from '../components/header/Header.jsx';
import Intro from '../components/Intro.astro';
import Skills from '../components/Skills.astro';
import Work from '../components/Work.astro';
import Journey from '../components/Journey.astro';
import Testimonials from '../components/testimonials/Testimonials.jsx';
import Footer from '../components/Footer.astro';
---
<html lang="en">
  <head>
    <MainHead />
  </head>
  <body>
    <Header client:load />
    <main>
    <Intro />
    <Skills />
    <Work />
    <Journey />
    <Testimonials client:visible />
    <Footer />
    </main>
  </body>
</html>
<style lang="scss">
main {
  padding-top: 150px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
</style>