---
import site from "../data/site.json";
const {nav} = site;
---
<header id="header">
    <ul>
        {nav.map((item) => (
            <li>
                <a href={item.link} target={item.target} rel="noopener noreferrer">{item.name}</a>
            </li>
        ))}
    </ul>
</header>
<style lang="scss">
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: transparent;
    z-index: 1;
    &.active {
        backdrop-filter: saturate(180%) blur(20px);
        background: rgba(20,33,61,.9);
    }
    ul {
        padding: 0;
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        padding-top: 2rem;
        padding-bottom: 2rem;
        li {
            list-style: none;
            a {
                padding: 1rem;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
</style>
<script type="text/javascript">
const header = document.getElementById("header");
window.onscroll = function() {
  if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
    header.classList.add("active");
  } else {
    header.classList.remove("active");
  }
};
</script>