---
const title = `Hi, I'm Chris a full stack developer`;
const subTitle = `15+ years development experience`;
const description = `I am a dutch 🇳🇱 citizen living in South Africa 🇿🇦, I love developing, writing and my wife.`;
---
<section class="section">
    <h1>{title}</h1>
    <strong class="sub-title">{subTitle}</strong>
    <p>{description}</p>
</section>
<style lang="scss">
.sub-title {
    font-size: 2rem;
}
</style>